.caja {
	border: 3px orange solid;
	width: 250px;
	padding:9px;
	padding-bottom: 20px;
	margin:0px 0px 15px 20px;
}
.caja2 {
	border: 3px orange solid;
	width: 250px;
	padding:9px;
	padding-bottom: 20px;
	margin:0px 0px 15px 20px;	
}
.caja3 {
	border: 3px orange solid;
	width: 250px;
	padding:9px;
	padding-bottom: 20px;
margin:0px 0px 15px 20px;
}
